/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main */
main {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    padding-top: 15vw;
}

/* Button */
#button-div {
    margin: 0 auto;
    width: fit-content;
}

#button {
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #3372e8;
    border: #2c65d0;
    border-radius: 5px;
}

/* Lista */
ul {
    list-style: none;
}

div{
    padding: 5px;
}

