/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main */
main {
    width: fit-content;
    position: relative;
    left: 42.5%;
    padding-top: 15vw;
    text-align: center;
}

ul {
    list-style: none;
}